ul {
	padding: 0;
	margin: 0;
}

h2 {
	margin: 0;
}

.score_panel {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	align-items: center;

	span {
		font-weight: 500;
	}

	.result {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		.answer {
			display: grid;
			grid-template-columns: 6rem auto 5rem;
			gap: 1rem;
		}
	}

	.sucess_rate {
		font-size: var(--font-size-lg);

		.face {
			margin-left: 1rem;
		}
	}
}

.expression {
	color: var(--color-success);
}

.incorrect {
	color: var(--color-error);
}
