.side_menu {
	/* desktop view */
	@media (min-width: 766px) {
		position: sticky;
		top: 0;
		height: 100svh;
		z-index: 10;

		&:hover,
		&:focus-within {
			.side_menu_label_expander {
				width: 12rem;
				overflow: visible;
			}
		}

		.side_menu_label_expander {
			width: var(--sidebar_width);
			height: 100%;
			overflow: hidden;
			transition: width 180ms;

			.side_menu_container {
				display: flex;
				flex-direction: column;
				align-items: start;
				justify-content: center;
				gap: 1rem;
				height: 100%;
				background-color: var(--color-background);
				pointer-events: auto;
				padding-left: 0.5rem;
			}
		}
	}

	/* mobile view */
	@media (max-width: 765px) {
		position: sticky;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		z-index: 20;
		border-top: 1px solid var(--color-border-muted-l);

		.side_menu_label_expander {
			width: 100%;
			height: 100%;

			.side_menu_container {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				height: 100%;
				background-color: var(--color-background);
				pointer-events: auto;
				padding: 0.75rem 1rem;
				gap: 1.5rem;
			}
		}
	}
}
