.group_toggle_buttons {
	display: flex;

	button {
		border-radius: 0;
		border-right-width: 0;
		font-size: 0.8rem;
		width: fit-content;
		min-width: 6rem;
		border-color: var(--color-border-muted-l);

		&.selected {
			background-color: var(--color-selected);
		}

		&:hover {
			border-color: var(--color-border-muted-l);
		}

		&:active {
			transform: scale(1);
		}

		&:first-child {
			border-top-left-radius: var(--border-radius);
			border-bottom-left-radius: var(--border-radius);
		}

		&:last-child {
			border-top-right-radius: var(--border-radius);
			border-bottom-right-radius: var(--border-radius);
			border-right-width: var(--border-sm);
		}
	}
}
