:root {
	/* color tokens  */
	/* Green Palette */
	--green-color-100: #14532d;
	--green-color-200: #16a34a;
	--green-color-300: #4ade80;

	/* Semantic colors */
	--color-success: #7be495;
	--color-warning: #f5c86a;
	--color-error: #ff2200;
	--color-info: #7db9ff;

	/* Surfaces colors */
	--color-background: #181818;
	--color-surface: #1d1b1b;
	--color-surface-light: #404040;

	/* Text colors */
	--color-text-primary: #ffffffde;
	--color-text-link: #646cff;

	/* Border colors */
	--color-border: #e6e6e6;
	--color-border-muted: #8d918b;
	--color-border-muted-l: #626662;

	/* Interactive colors  */
	--color-focus: #ffffff;
	--color-hover: #535bf2;
	--color-selected: #535bf2;

	/* Component tokens */
	--activity-low: var(--green-color-100);
	--activity-medium: var(--green-color-200);
	--activity-high: var(--green-color-300);
}
