:root {
	/* Typography */
	--font-size-sx: 0.75rem; /* 12px */
	--font-size-sm: 0.875rem; /* 14px */
	--font-size-md: 1rem; /* 16px */
	--font-size-lg: 1.25rem; /* 20px */
	--font-size-lx: 1.5rem; /* 24px */

	/* Border */
	--border-sm: 1px;
	--border-md: 2px;
	--border-lg: 3px;
}
