.wrapper {
	position: relative;
	display: inline-flex;
}

.tooltip {
	--tooltip-gap: 0.5rem;

	position: fixed;
	left: 0;
	top: 0;
	transform: translate(-50%, calc(-100% - var(--tooltip-gap)));
	pointer-events: none;
	background: var(--color-surface-light);
	color: var(--color-text-primary);
	border-radius: 5px;
	padding: 0.25rem 0.5rem;
	font-size: var(--font-size-sm);
	white-space: nowrap;
	z-index: 9999;
}
