.contact {
	display: grid;
	padding: 2rem;
	gap: 1rem;
	align-items: start;
	justify-content: center;
	max-width: calc(var(--bp-lg) + 1px);

	.profile_picture {
		width: 100%;
		object-fit: cover;
		height: 20rem;
		object-position: center 15%;
		border-radius: 5px;
	}

	@media (min-width: 1024px) {
		grid-template-columns: 1fr 1fr;
		gap: 1rem;

		.contact_wrapper {
			order: 1;
		}

		.profile_picture {
			order: 2;
			height: 38rem;
			object-fit: contain;
		}
	}

	.contact_wrapper {
		display: flex;
		margin-top: 1rem;
		flex-direction: column;
		align-items: center;
		gap: 1rem;

		@media (min-width: 1024px) {
			align-items: flex-start;
		}

		h2 {
			font-size: 2.5rem;
			text-transform: uppercase;
		}

		.email_display {
			border: solid 1px var(--color-border-muted-l);
			border-radius: var(--border-radius);
			padding: 0.5rem;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.copy_button {
				background-color: var(--color-surface-light);
				border: 0;
				width: fit-content;
				display: flex;
				align-items: center;
				gap: 0.3rem;
				padding: 0.4rem 0.5rem;

				&.idle {
					color: var(--color-text-primary);
				}

				&.success {
					color: var(--color-success);
				}

				&.error {
					color: var(--color-error);
				}

				img {
					width: 1rem;
					height: 1rem;
				}

				span {
					font-weight: 400;
					font-size: 0.8rem;
				}
			}
		}

		.email_template_container {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.5rem;

			.email_template_title {
				margin-bottom: 0.3rem;
				font-weight: 600;
				font-size: 1rem;

				@media (min-width: 1024px) {
					align-self: flex-start;
				}
			}

			.email_template {
				width: 100%;
				height: 10rem;
				background-color: var(--color-surface-light);
				padding: 0.5rem 1rem;
				border-radius: var(--border-radius);
			}
		}
	}
}
