.label {
	font-size: 0.75rem;
	font-weight: 600;
	color: var(--color-text-primary);
}

.heatmap_container
{
	--grid_gap: 3px;
	--cell-size: 0.6rem;

	.heatmap_header
	{

		display: flex;
		justify-content: space-between;
		padding: 0.25rem 0.5rem;

		.streak_text
		{
			font-weight: 600;
			font-size: var(--font-size-sm);
			
			& span
			{
				font-size: var(--font-size-md);
			}
		}
	}

	.heatmap_wrapper{
		display: flex;
		border: 1px solid var(--color-border);
		border-radius: var(--border-radius);
		align-items: center;
		justify-content: center;
		background-color: var(--color-surface);

		.heatmap_content {
			display: grid;
			max-width: 25rem;
			overflow: auto;
			margin: 0.5rem;
			grid-template-areas:
				'.		month_header'
				'day_header	heatmap';
			column-gap: var(--grid_gap);

			@media(min-width: 768px)
			{
				max-width: 45rem;
			}

			.month_header {
				display: grid;
				grid-area: month_header;
				gap: var(--grid_gap);
			}
	
			.heatmap_grid {
				display: grid;
				grid-area: heatmap;
				grid-auto-flow: column;
				grid-auto-columns: var(--cell-size);
				grid-template-rows: repeat(7, var(--cell-size));
				gap: var(--grid_gap);
	
				.cell {
					width: var(--cell-size);
					height: var(--cell-size);
					background: green;
					border-radius: 2px;
	
					&.empty {
						background-color: var(--color-background);
					}
				}
			}
	
			.day_header {
				display: grid;
				grid-area: day_header;
				grid-template-rows: repeat(7, 13px);
				grid-auto-flow: row;
				justify-content: center;
				align-items: center;
			}
		}
	}
}
