.question_container {
	display: flex;
	align-items: center;

	.question {
		display: flex;
		place-items: center;
		place-content: center;
		width: 1.8rem;
		height: 1.8rem;
		border-radius: 50%;
		border: var(--border-md) solid var(--color-border);
		background: var(--color-background);
		font-size: var(--font-size-sx);
		font-weight: 700;

		&.in_progress {
			border-color: var(--color-border);
			background-color: var(--color-selected);
			color: var(--color-text-primary);
		}
	}

	.connector {
		height: 2px;
		background-color: var(--color-border);
		min-width: 1.3rem;
	}
}
