/* Mobile first under 768px */
.panel {
	display: grid;
	width: min(95%, 50rem);
	grid-template-columns: 1fr;
	grid-template-areas: 'timer' 'calculation';
	gap: 2rem;
	transform: translateY(-15%);

	.calculation_container {
		grid-area: calculation;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;

		.progress_bar {
			display: flex;
			position: relative;
			place-content: center;
			place-items: center;
			padding: 0 0.75rem;
			margin-top: 1rem;
			max-width: 30rem;
			width: 100%;

			.question_container {
				display: flex;
				flex: 1;
				align-items: center;

				&:last-child
				{
					flex: 0;
				}
				
				.question {
					display: flex;
					place-items: center;
					place-content: center;
					width: 28px;
					height: 28px;
					border-radius: 50%;
					border: 2px solid #d7e7d7;
					background: #121212;
					color: #d7e7d7;
					font-size: 0.85rem;
					font-weight: 600;
				}

				.connector {
					height: 2px;
					background-color: #d7e7d7;
					min-width: 1rem;
					flex: 1;
				}
			}
		}
	}

	.timer {
		grid-area: timer;
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 0.5rem;

		font-weight: 500;

		.time {
			font-variant-numeric: tabular-nums;
		}
	}
}
