/* Mobile first under 768px */
.panel {
	display: grid;
	width: min(95%, 50rem);
	grid-template-columns: 1fr;
	grid-template-areas: 'timer' 'calculation';
	gap: 2rem;
	transform: translateY(-15%);

	.calculation_container {
		grid-area: calculation;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}
}
