*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: var(--color-text-primary);
}

a {
	font-weight: 500;
	color: var(--color-text-link);
	text-decoration: inherit;
}
a:hover {
	color: var(--color-hover);
}

body {
	margin: 0;
	background-color: var(--color-background);
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

li {
	list-style: none;
}

button {
	border-radius: var(--border-radius);
	border: var(--border-sm) solid var(--color-border);
	padding: 0.6em 1.2em;
	font-size: var(--font-size-md);
	font-weight: 500;
	font-family: inherit;
	color: var(--color-text-primary);
	background-color: var(--color-surface);
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: var(--color-hover);
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}
